In [1]:
# Load necessary libraries
%matplotlib inline
import csv
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [2]:
data2015 = pd.read_csv('../Data/poptime2015.csv')
data2016 = pd.read_csv('../Data/poptime2016.csv')
data2017 = pd.read_csv('../Data/poptime2017.csv')
data2018 = pd.read_csv('../Data/poptime2018.csv')
data2019 = pd.read_csv('../Data/poptime2019.csv')
data2020 = pd.read_csv('../Data/poptime2020.csv')
data2021 = pd.read_csv('../Data/poptime2021.csv')
data2022 = pd.read_csv('../Data/poptime2022.csv')

In [3]:
# Checking for unnecessary columns
data2015

,year,catcher,player_id,team_id,age,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,pop_2b_sba_count,pop_2b_sba,pop_2b_cs,pop_2b_sb,pop_3b_sba_count,pop_3b_sba,pop_3b_cs,pop_3b_sb
0,2015,Chris Stewart,NaN,134.0,33.0,80.0,0.61,32,1.91,1.91,1.91,3,1.51,1.50,1.51
1,2015,Christian Bethancourt,NaN,144.0,23.0,89.5,0.72,12,1.89,1.92,1.88,1,1.72,1.72,NaN
2,2015,Martín Maldonado,NaN,158.0,28.0,88.1,0.74,25,1.92,1.92,1.92,2,1.56,NaN,1.56
3,2015,Austin Hedges,NaN,135.0,22.0,87.3,0.76,24,1.93,1.93,1.94,1,1.54,1.54,NaN
4,2015,J.T. Realmuto,NaN,146.0,24.0,88.5,0.76,25,1.92,1.93,1.92,1,1.56,NaN,1.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2015,Brayan Peña,NaN,113.0,33.0,80.1,0.81,35,2.15,2.12,2.16,2,1.69,NaN,1.69
70,2015,Tyler Flowers,NaN,145.0,29.0,77.7,0.78,23,2.12,2.16,2.11,2,1.72,1.73,1.71
71,2015,Jordan Pacheco,NaN,109.0,29.0,75.7,0.75,7,2.13,2.16,2.12,0,NaN,NaN,NaN
72,2015,Chris Gimenez,NaN,140.0,32.0,78.8,0.80,7,2.11,2.30,2.07,1,1.63,NaN,1.63
73,2015,Kyle Schwarber,NaN,112.0,22.0,81.4,0.76,7,2.01,NaN,2.01,1,1.64,1.64,NaN

In [4]:
# Dropping unnecessary columns in 2015 data
data2015 = data2015.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2015

    year                catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2015          Chris Stewart                  80.0                0.61
1   2015  Christian Bethancourt                  89.5                0.72
2   2015       Martín Maldonado                  88.1                0.74
3   2015          Austin Hedges                  87.3                0.76
4   2015          J.T. Realmuto                  88.5                0.76
..   ...                    ...                   ...                 ...
69  2015            Brayan Peña                  80.1                0.81
70  2015          Tyler Flowers                  77.7                0.78
71  2015         Jordan Pacheco                  75.7                0.75
72  2015          Chris Gimenez                  78.8                0.80
73  2015         Kyle Schwarber                  81.4                0.76

[74 rows x 4 columns]

In [5]:
# Dropping unnecessary columns in 2016 data
data2016 = data2016.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2016

    year             catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2016        Gary Sanchez                  88.4                0.72
1   2016       J.T. Realmuto                  87.0                0.70
2   2016  Welington Castillo                  83.3                0.67
3   2016    Martín Maldonado                  87.3                0.70
4   2016      Salvador Perez                  83.9                0.67
..   ...                 ...                   ...                 ...
75  2016        Stephen Vogt                  76.3                0.71
76  2016   Robinson Chirinos                  80.8                0.81
77  2016       Austin Romine                  82.7                0.83
78  2016       Tyler Flowers                  76.7                0.74
79  2016       Bruce Maxwell                  79.0                0.68

[80 rows x 4 columns]

In [6]:
# Dropping unnecessary columns in 2017 data
data2017 = data2017.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2017

    year            catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2017      Chris Stewart                  79.8                0.64
1   2017       Luis Torrens                  81.3                0.72
2   2017     Salvador Perez                  82.7                0.65
3   2017  Willson Contreras                  86.7                0.73
4   2017      Austin Hedges                  85.8                0.70
..   ...                ...                   ...                 ...
67  2017        Carlos Ruiz                  79.0                0.78
68  2017       Brian McCann                  77.8                0.76
69  2017     Miguel Montero                  79.9                0.80
70  2017      Tyler Flowers                  74.7                0.75
71  2017     Brett Nicholas                  79.0                0.73

[72 rows x 4 columns]

In [7]:
# Dropping unnecessary columns in 2018 data
data2018 = data2018.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2018

    year             catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2018       J.T. Realmuto                  87.8                0.69
1   2018        Jorge Alfaro                  90.9                0.73
2   2018     Kyle Higashioka                  80.5                0.69
3   2018  Willians Astudillo                  79.7                0.72
4   2018     Meibrys Viloria                  84.5                0.72
..   ...                 ...                   ...                 ...
80  2018       Chris Gimenez                  79.4                0.78
81  2018     Victor Caratini                  80.7                0.81
82  2018        Danny Jansen                  81.9                0.82
83  2018      Francisco Peña                  81.3                0.77
84  2018       David Freitas                  79.4                0.78

[85 rows x 4 columns]

In [8]:
# Dropping unnecessary columns in 2019 data
data2019 = data2019.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2019

    year            catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2019         Tomás Nido                  80.1                0.67
1   2019      J.T. Realmuto                  88.4                0.68
2   2019        Jake Rogers                  79.2                0.65
3   2019  Willson Contreras                  84.7                0.68
4   2019     Russell Martin                  83.6                0.75
..   ...                ...                   ...                 ...
73  2019        Jeff Mathis                  76.5                0.77
74  2019      Austin Barnes                  76.8                0.67
75  2019       Stephen Vogt                  73.4                0.70
76  2019      Austin Romine                  82.2                0.83
77  2019       Caleb Joseph                  79.3                0.78

[78 rows x 4 columns]

In [9]:
# Dropping unnecessary columns in 2020 data
data2020 = data2020.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2020

    year            catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2020      J.T. Realmuto                  87.2                0.69
1   2020   Jacob Nottingham                  84.1                0.76
2   2020       Jorge Alfaro                  87.6                0.81
3   2020  Willson Contreras                  84.6                0.75
4   2020        Sean Murphy                  86.4                0.72
5   2020       Jason Castro                  82.4                0.74
6   2020     Salvador Perez                  81.0                0.75
7   2020       Chad Wallach                  80.0                0.70
8   2020      Austin Hedges                  81.3                0.68
9   2020        Mike Zunino                  81.1                0.65
10  2020       Luis Torrens                  81.4                0.72
11  2020    Anthony Bemboom                  81.0                0.72
12  2020  Christian Vázquez                  79.5                0.69
13  2020   Martín Maldonado                  85.3                0.74
14  2020         Max Stassi                  79.6                0.71
15  2020        Austin Nola                  79.6                0.73
16  2020       Andrew Knapp                  81.9                0.75
17  2020       Omar Narváez                  77.6                0.69
18  2020        Drew Butera                  84.4                0.75
19  2020          Joey Bart                  84.2                0.75
20  2020       Gary Sanchez                  83.1                0.75
21  2020      Michael Perez                  81.3                0.73
22  2020  Robinson Chirinos                  77.9                0.77
23  2020      Yadier Molina                  81.7                0.72
24  2020       Tony Wolters                  75.9                0.72
25  2020        Curt Casali                  77.5                0.75
26  2020     Dustin Garneau                  78.9                0.70
27  2020         Will Smith                  82.7                0.80
28  2020         Sandy Leon                  76.8                0.72
29  2020      Austin Barnes                  76.0                0.71
30  2020      Roberto Perez                  78.9                0.75
31  2020        Jeff Mathis                  77.0                0.70
32  2020    Tucker Barnhart                  77.0                0.69
33  2020    Yasmani Grandal                  77.5                0.67
34  2020       Danny Jansen                  80.5                0.73
35  2020         Manny Piña                  82.5                0.74
36  2020    Travis d'Arnaud                  81.0                0.73
37  2020        Joseph Odom                  77.1                0.79
38  2020      Austin Romine                  80.4                0.79
39  2020   John Ryan Murphy                  81.2                0.75
40  2020       Stephen Vogt                  72.6                0.68
41  2020       Ryan Jeffers                  79.5                0.76
42  2020       Wilson Ramos                  77.0                0.75
43  2020        Kurt Suzuki                  78.0                0.80
44  2020       Mitch Garver                  81.8                0.81
45  2020    Jacob Stallings                  81.9                0.77
46  2020       Jose Trevino                  73.8                0.79
47  2020     Kevin Plawecki                  74.8                0.74
48  2020         Alex Avila                  78.2                0.71
49  2020      Tyler Flowers                  73.6                0.77
50  2020          Yan Gomes                  78.7                0.73
51  2020       Chance Sisco                  75.4                0.89
52  2020       Carson Kelly                  81.8                0.79

In [10]:
# Dropping unnecessary columns in 2021 data
data2021 = data2021.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2021

    year          catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2021    J.T. Realmuto                  87.8                0.71
1   2021    Webster Rivas                  81.1                0.68
2   2021  Kyle Higashioka                  83.7                0.68
3   2021     Danny Jansen                  81.8                0.71
4   2021    Yadier Molina                  83.2                0.69
..   ...              ...                   ...                 ...
77  2021     Jose Trevino                  74.0                0.71
78  2021       Sandy Leon                  77.8                0.74
79  2021  Patrick Mazeika                  76.1                0.81
80  2021      Seby Zavala                  81.4                0.82
81  2021   Kevin Plawecki                  76.0                0.76

[82 rows x 4 columns]

In [11]:
# Dropping unnecessary columns in 2022 data
data2022 = data2022.drop(columns=['player_id','team_id', 'age', 'pop_2b_sba_count', 'pop_2b_sba', 'pop_2b_cs', 'pop_2b_sb', 'pop_3b_sba_count', 'pop_3b_sba', 'pop_3b_cs', 'pop_3b_sb'])
data2022

    year           catcher  maxeff_arm_2b_3b_sba  exchange_2b_3b_sba
0   2022       Matt Thaiss                  83.9                0.79
1   2022     J.T. Realmuto                  87.6                0.67
2   2022        Elias Díaz                  84.8                0.72
3   2022        Will Smith                  83.6                0.71
4   2022  Chuckie Robinson                  86.3                0.73
..   ...               ...                   ...                 ...
79  2022      Austin Wynns                  78.7                0.76
80  2022      Tres Barrera                  76.7                0.75
81  2022      Mitch Garver                  81.0                0.81
82  2022          Sam Huff                  88.1                0.83
83  2022        René Pinto                  83.4                0.72

[84 rows x 4 columns]

In [12]:
# Checking data types
data2015.dtypes

year                      int64
catcher                  object
maxeff_arm_2b_3b_sba    float64
exchange_2b_3b_sba      float64
dtype: object

In [13]:
# Distance variables
distance_second = 38.71
distance_third = 27.432

In [14]:
# Calculating time for Second and Third base for 2015
data2015['time_second_base'] = (distance_second/data2015['maxeff_arm_2b_3b_sba']*0.44704)*10
data2015['time_third_base'] = (distance_third/data2015['maxeff_arm_2b_3b_sba']*0.44704)*10
data2015

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2015,Chris Stewart,80.0,0.61,2.163115,1.532900
1,2015,Christian Bethancourt,89.5,0.72,1.933510,1.370190
2,2015,Martín Maldonado,88.1,0.74,1.964236,1.391964
3,2015,Austin Hedges,87.3,0.76,1.982236,1.404720
4,2015,J.T. Realmuto,88.5,0.76,1.955358,1.385672
...,...,...,...,...,...,...
69,2015,Brayan Peña,80.1,0.81,2.160414,1.530986
70,2015,Tyler Flowers,77.7,0.78,2.227145,1.578276
71,2015,Jordan Pacheco,75.7,0.75,2.285987,1.619974
72,2015,Chris Gimenez,78.8,0.80,2.196056,1.556244
73,2015,Kyle Schwarber,81.4,0.76,2.125911,1.506536

In [15]:
# Calculating time for Second and Third base for 2016
data2016['time_second_base'] = (distance_second/data2016['maxeff_arm_2b_3b_sba']*0.44704)*10
data2016['time_third_base'] = (distance_third/data2016['maxeff_arm_2b_3b_sba']*0.44704)*10
data2016

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2016,Gary Sanchez,88.4,0.72,1.957570,1.387240
1,2016,J.T. Realmuto,87.0,0.70,1.989071,1.409563
2,2016,Welington Castillo,83.3,0.67,2.077421,1.472173
3,2016,Martín Maldonado,87.3,0.70,1.982236,1.404720
4,2016,Salvador Perez,83.9,0.67,2.062565,1.461645
...,...,...,...,...,...,...
75,2016,Stephen Vogt,76.3,0.71,2.268010,1.607235
76,2016,Robinson Chirinos,80.8,0.81,2.141698,1.517723
77,2016,Austin Romine,82.7,0.83,2.092493,1.482854
78,2016,Tyler Flowers,76.7,0.74,2.256182,1.598853
79,2016,Bruce Maxwell,79.0,0.68,2.190496,1.552304

In [16]:
# Calculating time for Second and Third base for 2017
data2017['time_second_base'] = (distance_second/data2017['maxeff_arm_2b_3b_sba']*0.44704)*10
data2017['time_third_base'] = (distance_third/data2017['maxeff_arm_2b_3b_sba']*0.44704)*10
data2017

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2017,Chris Stewart,79.8,0.64,2.168536,1.536742
1,2017,Luis Torrens,81.3,0.72,2.128526,1.508389
2,2017,Salvador Perez,82.7,0.65,2.092493,1.482854
3,2017,Willson Contreras,86.7,0.73,1.995954,1.414441
4,2017,Austin Hedges,85.8,0.70,2.016890,1.429278
...,...,...,...,...,...,...
67,2017,Carlos Ruiz,79.0,0.78,2.190496,1.552304
68,2017,Brian McCann,77.8,0.76,2.224283,1.576247
69,2017,Miguel Montero,79.9,0.80,2.165822,1.534819
70,2017,Tyler Flowers,74.7,0.75,2.316589,1.641660
71,2017,Brett Nicholas,79.0,0.73,2.190496,1.552304

In [17]:
# Calculating time for Second and Third base for 2018
data2018['time_second_base'] = (distance_second/data2018['maxeff_arm_2b_3b_sba']*0.44704)*10
data2018['time_third_base'] = (distance_third/data2018['maxeff_arm_2b_3b_sba']*0.44704)*10
data2018

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2018,J.T. Realmuto,87.8,0.69,1.970947,1.396720
1,2018,Jorge Alfaro,90.9,0.73,1.903731,1.349087
2,2018,Kyle Higashioka,80.5,0.69,2.149679,1.523379
3,2018,Willians Astudillo,79.7,0.72,2.171257,1.538670
4,2018,Meibrys Viloria,84.5,0.72,2.047919,1.451266
...,...,...,...,...,...,...
80,2018,Chris Gimenez,79.4,0.78,2.179461,1.544484
81,2018,Victor Caratini,80.7,0.81,2.144352,1.519604
82,2018,Danny Jansen,81.9,0.82,2.112933,1.497338
83,2018,Francisco Peña,81.3,0.77,2.128526,1.508389
84,2018,David Freitas,79.4,0.78,2.179461,1.544484

In [18]:
# Calculating time for Second and Third base for 2019
data2019['time_second_base'] = (distance_second/data2019['maxeff_arm_2b_3b_sba']*0.44704)*10
data2019['time_third_base'] = (distance_third/data2019['maxeff_arm_2b_3b_sba']*0.44704)*10
data2019

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2019,Tomás Nido,80.1,0.67,2.160414,1.530986
1,2019,J.T. Realmuto,88.4,0.68,1.957570,1.387240
2,2019,Jake Rogers,79.2,0.65,2.184964,1.548384
3,2019,Willson Contreras,84.7,0.68,2.043084,1.447840
4,2019,Russell Martin,83.6,0.75,2.069966,1.466890
...,...,...,...,...,...,...
73,2019,Jeff Mathis,76.5,0.77,2.262081,1.603033
74,2019,Austin Barnes,76.8,0.67,2.253245,1.596771
75,2019,Stephen Vogt,73.4,0.70,2.357618,1.670736
76,2019,Austin Romine,82.2,0.83,2.105221,1.491874
77,2019,Caleb Joseph,79.3,0.78,2.182209,1.546431

In [19]:
# Calculating time for Second and Third base for 2020
data2020['time_second_base'] = (distance_second/data2020['maxeff_arm_2b_3b_sba']*0.44704)*10
data2020['time_third_base'] = (distance_third/data2020['maxeff_arm_2b_3b_sba']*0.44704)*10
data2020

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2020,J.T. Realmuto,87.2,0.69,1.984509,1.406330
1,2020,Jacob Nottingham,84.1,0.76,2.057660,1.458169
2,2020,Jorge Alfaro,87.6,0.81,1.975447,1.399909
3,2020,Willson Contreras,84.6,0.75,2.045499,1.449551
4,2020,Sean Murphy,86.4,0.72,2.002884,1.419352
5,2020,Jason Castro,82.4,0.74,2.100111,1.488253
6,2020,Salvador Perez,81.0,0.75,2.136410,1.513975
7,2020,Chad Wallach,80.0,0.70,2.163115,1.532900
8,2020,Austin Hedges,81.3,0.68,2.128526,1.508389
9,2020,Mike Zunino,81.1,0.65,2.133775,1.512109
10,2020,Luis Torrens,81.4,0.72,2.125911,1.506536
11,2020,Anthony Bemboom,81.0,0.72,2.136410,1.513975
12,2020,Christian Vázquez,79.5,0.69,2.176719,1.542541
13,2020,Martín Maldonado,85.3,0.74,2.028713,1.437655
14,2020,Max Stassi,79.6,0.71,2.173985,1.540603
15,2020,Austin Nola,79.6,0.73,2.173985,1.540603
16,2020,Andrew Knapp,81.9,0.75,2.112933,1.497338
17,2020,Omar Narváez,77.6,0.69,2.230015,1.580309
18,2020,Drew Butera,84.4,0.75,2.050346,1.452986
19,2020,Joey Bart,84.2,0.75,2.055216,1.456437
20,2020,Gary Sanchez,83.1,0.75,2.082421,1.475716
21,2020,Michael Perez,81.3,0.73,2.128526,1.508389
22,2020,Robinson Chirinos,77.9,0.77,2.221427,1.574224
23,2020,Yadier Molina,81.7,0.72,2.118105,1.501004
24,2020,Tony Wolters,75.9,0.72,2.279963,1.615705
25,2020,Curt Casali,77.5,0.75,2.232893,1.582349
26,2020,Dustin Garneau,78.9,0.70,2.193272,1.554271
27,2020,Will Smith,82.7,0.80,2.092493,1.482854
28,2020,Sandy Leon,76.8,0.72,2.253245,1.596771
29,2020,Austin Barnes,76.0,0.71,2.276963,1.613579
30,2020,Roberto Perez,78.9,0.75,2.193272,1.554271
31,2020,Jeff Mathis,77.0,0.70,2.247392,1.592624
32,2020,Tucker Barnhart,77.0,0.69,2.247392,1.592624
33,2020,Yasmani Grandal,77.5,0.67,2.232893,1.582349
34,2020,Danny Jansen,80.5,0.73,2.149679,1.523379
35,2020,Manny Piña,82.5,0.74,2.097566,1.486449
36,2020,Travis d'Arnaud,81.0,0.73,2.136410,1.513975
37,2020,Joseph Odom,77.1,0.79,2.244477,1.590558
38,2020,Austin Romine,80.4,0.79,2.152353,1.525274
39,2020,John Ryan Murphy,81.2,0.75,2.131148,1.510246
40,2020,Stephen Vogt,72.6,0.68,2.383598,1.689146
41,2020,Ryan Jeffers,79.5,0.76,2.176719,1.542541
42,2020,Wilson Ramos,77.0,0.75,2.247392,1.592624
43,2020,Kurt Suzuki,78.0,0.80,2.218579,1.572205
44,2020,Mitch Garver,81.8,0.81,2.115516,1.499169
45,2020,Jacob Stallings,81.9,0.77,2.112933,1.497338
46,2020,Jose Trevino,73.8,0.79,2.344840,1.661680
47,2020,Kevin Plawecki,74.8,0.74,2.313492,1.639465
48,2020,Alex Avila,78.2,0.71,2.212905,1.568184
49,2020,Tyler Flowers,73.6,0.77,2.351212,1.666196
50,2020,Yan Gomes,78.7,0.73,2.198846,1.558221
51,2020,Chance Sisco,75.4,0.89,2.295082,1.626419
52,2020,Carson Kelly,81.8,0.79,2.115516,1.499169

In [35]:
# Calculating time for Second and Third base for 2021
data2021['time_second_base'] = (distance_second/data2021['maxeff_arm_2b_3b_sba']*0.44704)*10
data2021['time_third_base'] = (distance_third/data2021['maxeff_arm_2b_3b_sba']*0.44704)*10
data2021

/var/folders/hy/4q0zsdgd3tvg2clt2qgl_5yr0000gn/T/ipykernel_4461/3087251355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2021['time_second_base'] = (distance_second/data2021['maxeff_arm_2b_3b_sba']*0.44704)*10
/var/folders/hy/4q0zsdgd3tvg2clt2qgl_5yr0000gn/T/ipykernel_4461/3087251355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2021['time_third_base'] = (distance_third/data2021['maxeff_arm_2b_3b_sba']*0.44704)*10

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2021,J.T. Realmuto,87.8,0.71,1.970947,1.396720
1,2021,Webster Rivas,81.1,0.68,2.133775,1.512109
2,2021,Kyle Higashioka,83.7,0.68,2.067493,1.465138
3,2021,Danny Jansen,81.8,0.71,2.115516,1.499169
4,2021,Yadier Molina,83.2,0.69,2.079918,1.473942
...,...,...,...,...,...,...
77,2021,Jose Trevino,74.0,0.71,2.338502,1.657189
78,2021,Sandy Leon,77.8,0.74,2.224283,1.576247
79,2021,Patrick Mazeika,76.1,0.81,2.273971,1.611459
80,2021,Seby Zavala,81.4,0.82,2.125911,1.506536
81,2021,Kevin Plawecki,76.0,0.76,2.276963,1.613579

In [21]:
# Calculating time for Second and Third base for 2022
data2022['time_second_base'] = (distance_second/data2022['maxeff_arm_2b_3b_sba']*0.44704)*10
data2022['time_third_base'] = (distance_third/data2022['maxeff_arm_2b_3b_sba']*0.44704)*10
data2022

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2022,Matt Thaiss,83.9,0.79,2.062565,1.461645
1,2022,J.T. Realmuto,87.6,0.67,1.975447,1.399909
2,2022,Elias Díaz,84.8,0.72,2.040674,1.446132
3,2022,Will Smith,83.6,0.71,2.069966,1.466890
4,2022,Chuckie Robinson,86.3,0.73,2.005205,1.420997
...,...,...,...,...,...,...
79,2022,Austin Wynns,78.7,0.76,2.198846,1.558221
80,2022,Tres Barrera,76.7,0.75,2.256182,1.598853
81,2022,Mitch Garver,81.0,0.81,2.136410,1.513975
82,2022,Sam Huff,88.1,0.83,1.964236,1.391964
83,2022,René Pinto,83.4,0.72,2.074930,1.470408

In [22]:
# Checking for null values
data2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  74 non-null     int64
 1   catcher               73 non-null     object
 2   maxeff_arm_2b_3b_sba  74 non-null     float64
 3   exchange_2b_3b_sba    74 non-null     float64
 4   time_second_base      74 non-null     float64
 5   time_third_base       74 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.6+ KB

In [23]:
# Dropping null catchers in 2015
data2015 = data2015.dropna(subset=['catcher'])

In [24]:
# Checking for null values
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  80 non-null     int64
 1   catcher               79 non-null     object
 2   maxeff_arm_2b_3b_sba  80 non-null     float64
 3   exchange_2b_3b_sba    80 non-null     float64
 4   time_second_base      80 non-null     float64
 5   time_third_base       80 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.9+ KB

In [25]:
# Dropping null catchers in 2016
data2016 = data2016.dropna(subset=['catcher'])

In [26]:
# Checking for null values
data2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  72 non-null     int64
 1   catcher               72 non-null     object
 2   maxeff_arm_2b_3b_sba  72 non-null     float64
 3   exchange_2b_3b_sba    72 non-null     float64
 4   time_second_base      72 non-null     float64
 5   time_third_base       72 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.5+ KB

In [27]:
# Checking for null values
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  85 non-null     int64
 1   catcher               85 non-null     object
 2   maxeff_arm_2b_3b_sba  85 non-null     float64
 3   exchange_2b_3b_sba    85 non-null     float64
 4   time_second_base      85 non-null     float64
 5   time_third_base       85 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 4.1+ KB

In [28]:
# Checking for null values
data2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  78 non-null     int64
 1   catcher               78 non-null     object
 2   maxeff_arm_2b_3b_sba  78 non-null     float64
 3   exchange_2b_3b_sba    78 non-null     float64
 4   time_second_base      78 non-null     float64
 5   time_third_base       78 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.8+ KB

In [29]:
# Checking for null values
data2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  53 non-null     int64
 1   catcher               53 non-null     object
 2   maxeff_arm_2b_3b_sba  53 non-null     float64
 3   exchange_2b_3b_sba    53 non-null     float64
 4   time_second_base      53 non-null     float64
 5   time_third_base       53 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.6+ KB

In [30]:
# Checking for null values
data2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  82 non-null     int64
 1   catcher               81 non-null     object
 2   maxeff_arm_2b_3b_sba  82 non-null     float64
 3   exchange_2b_3b_sba    82 non-null     float64
 4   time_second_base      82 non-null     float64
 5   time_third_base       82 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 4.0+ KB

In [31]:
# Dropping null catchers in 2021
data2021 = data2021.dropna(subset=['catcher'])

In [32]:
# Checking for null values
data2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  84 non-null     int64
 1   catcher               84 non-null     object
 2   maxeff_arm_2b_3b_sba  84 non-null     float64
 3   exchange_2b_3b_sba    84 non-null     float64
 4   time_second_base      84 non-null     float64
 5   time_third_base       84 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 4.1+ KB

In [36]:
# Merging tables into the column year
frames = [data2022, data2021, data2020, data2019, data2018, data2017, data2016, data2015]

result = pd.concat(frames)

In [37]:
# Final table cleaned
result

,year,catcher,maxeff_arm_2b_3b_sba,exchange_2b_3b_sba,time_second_base,time_third_base
0,2022,Matt Thaiss,83.9,0.79,2.062565,1.461645
1,2022,J.T. Realmuto,87.6,0.67,1.975447,1.399909
2,2022,Elias Díaz,84.8,0.72,2.040674,1.446132
3,2022,Will Smith,83.6,0.71,2.069966,1.466890
4,2022,Chuckie Robinson,86.3,0.73,2.005205,1.420997
...,...,...,...,...,...,...
69,2015,Brayan Peña,80.1,0.81,2.160414,1.530986
70,2015,Tyler Flowers,77.7,0.78,2.227145,1.578276
71,2015,Jordan Pacheco,75.7,0.75,2.285987,1.619974
72,2015,Chris Gimenez,78.8,0.80,2.196056,1.556244
73,2015,Kyle Schwarber,81.4,0.76,2.125911,1.506536